nav.nav
  .nav__logo
    img.logo-mark(src='/img/logo/logo-mark.svg')
    img.logo-type(src='/img/logo/logo-type.svg')
  div.menu-box
    ul.nav__menu
      li.menu-item
        a.menu-item__link(href='/')
          | HOME
      li.menu-item
        a.menu-item__link(href='/services')
          | SERVICES
      li.menu-item
        a.menu-item__link(href='/about')
          | ABOUT
      li.menu-item
        a.menu-item__link(href='/projects')
          | PROJECTS
      li.menu-item
        a.menu-item__link(href='/news')
          | NEWS
      li.menu-item
        a.menu-item__link(href='/contact')
          | CONTACT
    .nav__other
      .search-box 
      .auth-box