/* 
---------- 01 TYPOGRAPHY SYSTEM
-Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font weights:
default: 400
medium: 500
semi-bold: 600
bold: 700

-Line-heights: 
default: 1
small: 1.05
medium: 1.2
paragraph defualt 1.6
large: 1.8

-Letter spacing:
-0.5px
0.75px

---------- 02 COLORS
primary color: #05735f,

tints: #B4D5CF #fff7e6

shades: #01221C, #056856

accents: #fab005, #eb4d4b

background: #fff7e6 #eee9db #f9f4e8



primary text: #3A514D #343a40 #283734 #212529

secondary text: #62716E #adb5bd #868e96

grays:
#888
#767676
#686868
#555
#333


---------- 03 SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075)


---------- 04 BORDER RADIUS
default: 5px
medium: 3px

---------- 05 WHITE SPACE
Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 */

/* GLOBAL RESET */
:root {
  --primary-color: #0055b3; /* #2a3182;*/
  --secondary-color: #2bace2;
  --accent-color: #efd235;
  --accent-color-dark: #776710;
  --text-color-darker: #2e3033;
  --text-color-dark: #5c6166;
  --text-color-light: #f9f9fc;
  --background-light: #f9f9fc;
  --font-size: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(127, 238, 255, 0.1); */
}

html {
  /* 9px / 16px * 100 */
  font-size: 56%;
  scroll-behavior: smooth;
}

/* DEFAULT SETTING */
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--primary-color);
  overflow-x: hidden;
}

h1 {
  width: 80rem;
  font-size: 5.4rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.2em;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 2.6rem;
}

p {
  line-height: 3rem;
  font-size: var(--font-size);
  margin-top: 2.4rem;
  color: var(--text-color-dark);
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

section > .container,
footer .container {
  width: 120rem;
  margin: 0 auto;
  background-color: #ffffff;
}

img {
  width: 100%;
  height: auto;
}

section > .container > header {
  padding: 8rem 0;
}

.btn-wrapper {
  margin-top: 4.2rem;
}

.btn {
  padding: 15px 40px;
  font-weight: 600;
  background-color: var(--accent-color);
  color: var(--text-color-darker);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--accent-color-dark);
  color: var(--text-color-light);
}

.btn.btn--arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  background-image: linear-gradient(
    135deg,
    rgba(239, 211, 53, 0.5),
    rgba(119, 104, 16, 0.5)
  );
  background-size: 160% 160%;
}

.btn.btn--arrow.arrow-down {
  padding: 0;
}

.btn.btn--arrow.arrow-down:hover svg,
.btn.btn--arrow.arrow-down:active svg {
  animation: slideArrowsSlideDown 0.5s ease-in-out 0.1s;
}

.btn.btn--arrow.arrow-down svg.slide-down {
  animation: slideArrowsSlideDown 0.5s ease-in-out 3;
}

.btn.btn--arrow.arrow-right:hover svg,
.btn.btn--arrow.arrow-right:active svg {
  animation: slideArrowAroundRight 0.5s ease-in-out;
}

@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes slideArrowsSlideDown {
  0% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateY(25%);
  }
  51% {
    transform: translateY(-8%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideArrowAroundDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(60%);
    opacity: 0;
  }
  51% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideArrowAroundRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(45%);
    opacity: 0;
  }
  51% {
    transform: translateX(-45%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/******************************************************** LANDING PAGE *********************************************************/
/* main {
  position: relative;
  background-color: var(--background-light);
} */

/* LANDING PAGE - HERO */
.page-header {
  position: relative;
  width: 100%;
}

.page-header .nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 13rem;
  z-index: 999;
}

.page-header .nav .nav__logo a {
  position: relative;
  display: flex;
  gap: 2.4rem;
  background-color: var(--accent-color);
  padding: 2.4rem;
  z-index: 2;
}

.nav__logo .logo-mark {
  width: 9.6rem;
}

.nav__logo .logo-type {
  width: 43rem;
}

.page-header .nav .menu-box {
  flex-grow: 1;
  display: flex;
  height: 10rem;
  background-color: #0055b3;
}

.menu-box .nav__menu {
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.menu-box .nav__menu .menu-item .menu-item__link {
  text-decoration: none;
  color: #f9f9fc;
  font-weight: 500;
}

.menu-box .nav__menu .menu-item .menu-item__link:hover {
  color: var(--accent-color);
}

.page-header .nav .nav__other {
  width: 20rem;
  background-color: #0055b3;
}

.page-header .nav .menu-box .toggler-box {
  display: none;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

.toggler-box .menu__open {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10rem;
}

.toggler-box .menu__open svg.beat {
  animation: beat 0.5s ease;
  animation-iteration-count: 3;
}

.menu__open #group-open-btn .cc {
  transition: all 0.3s ease-in-out;
}

.menu__open #group-open-btn .ss,
.menu__open #group-open-btn .ee,
.menu__open #group-open-btn .ww,
.menu__open #group-open-btn .nn {
  transition: all 0.5s ease-in-out;
}

.nav-open .menu__open #group-open-btn .cc {
  fill: transparent;
}

.nav-open .menu__open #group-open-btn .ss {
  transform: scale(0.75) translate(27px, 47px);
}

.nav-open .menu__open #group-open-btn .ee {
  transform: scale(0.75) translate(47px, 47px);
}

.nav-open .menu__open #group-open-btn .nn {
  transform: scale(0.75) translate(47px, 27px);
}

.nav-open .menu__open #group-open-btn .ww {
  transform: scale(0.75) translate(27px, 27px);
}

.hero {
  position: relative;
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero__video {
  position: absolute;
  inset: 0;
  z-index: -2;
}

.hero .hero__video video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px); /* Apply blur effect */
  transition: filter 0.5s ease; /* Smooth transition for blur removal */
}

.hero .hero__mesh {
  display: none; /* Hide initially */
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  background-image: url('/img/shapes/mesh.png');
  background-size: cover;
  mix-blend-mode: multiply;
  z-index: -1;
}

.hero .hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
}

.hero .hero__content a {
  margin-top: 4.8rem;
}

/* .hero .hero__content a:hover {
  animation: slideArrowBackgroundDown 0.5s ease;
}

@keyframes slideArrowBackgroundDown {
  0% {
    transform: translateY(-1%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-3%);
  }
} */

/* LANDING PAGE - SERVICES SECTION */
.services-section {
  background-color: #ffffff;
  padding-bottom: 18.4rem;
}

.container header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container header span {
  width: 12rem;
  height: 1rem;
  background-color: var(--accent-color);
  margin-top: 1.6rem;
}

/* .services-section .container .services-box {
  margin-top: 6.4rem;
} */

.services-box .services {
  gap: 2.4rem;
}

.services .service {
  flex: 1;
}

.service .service__img {
  display: flex;
}

.service .service__content {
  padding: 3.2rem;
  background-color: var(--background-light);
}

/* LANDING PAGE - ABOUT SECTION */
.about-section .container {
  display: flex;
  margin: 0;
  width: unset;
  background-color: unset;
}

.about-section .container h2 {
  margin-top: 6.4rem;
}

.about-section__item {
  flex: 1;
  /* height: 80rem; */
  display: flex;
  justify-content: end;
  background-color: var(--background-light);
}

.about-section__info {
  background-color: var(--background-light);
}

.about-section__info .about-content {
  width: 60rem;
  height: 100%;
  background-color: var(--background-light);
  padding-right: 6.4rem;
}

.about-section__info .about-content header {
  align-items: start;
}

.about-section__info .about-content ul {
  flex-direction: column;
  color: var(--text-color-dark);
  font-weight: 500;
  margin-bottom: 6.4rem;
}

.about-section__info .about-content ul li {
  margin-top: 1.4rem;
}

.about-section__background {
  position: relative;
  transform: translateY(20rem);
  animation: parallax linear;
  animation-timeline: scroll();
  --parallax-speed: -10;
  z-index: -2;
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 20rem));
  }
}

.about-section__background img {
  object-fit: cover;
  position: sticky;
  top: 500px;
}

.about-section__background-box {
  position: absolute;
  top: -150rem;
  left: 0;
  height: 350rem;
  margin-top: 100rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-color: var(--background-light);
}

.about-section__background-box.active {
  opacity: 1;
}

@keyframes slideshow {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.about-section__background-box:nth-child(1) {
  animation: slideshow 36s infinite;
}

.about-section__background-box:nth-child(2) {
  animation: slideshow 36s infinite 9s;
}

.about-section__background-box:nth-child(3) {
  animation: slideshow 36s infinite 18s;
}

.about-section__background-box:nth-child(4) {
  animation: slideshow 36s infinite 27s;
}

/* LANDING PAGE - AWARD SECTION */
.award-section,
.award-section .container {
  background-color: var(--accent-color);
}

.awards {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.awards .award {
  flex: 1;
}

.awards .seperator {
  height: 8rem;
  width: 0.3rem;
  background-color: var(--background-light);
}

.award > * {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.award .award__figure {
  font-size: 5rem;
  margin-top: 3.2rem;
  padding: 1.2rem;
}

.award .award__title {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  font-size: 2.4rem;
  color: var(--text-color-dark);
  padding: 1.2rem;
  margin-bottom: 3.2rem;
}

.awards .seperator,
.awards .award__figure,
.awards .award__title {
  transform: translateY(200px);
  transition: transform 0.5s ease-out;
}

.awards .award__figure {
  transition-delay: 0.1s;
}

.awards .seperator {
  transition-delay: 0.2s;
}

.awards .award__title {
  transition-delay: 0.3s;
}

.awards .seperator.slide-up,
.awards .award__figure.slide-up,
.awards .award__title.slide-up {
  transform: translateY(0);
}

/* LANDING PAGE - PROJECTS SECTION */
.projects-section {
  background-color: #ffffff;
}

.projects-section .projects-box {
  padding-bottom: 8rem;
}

.projects-section .projects-box .projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 2.4rem;
}

.projects .project {
  position: relative;
  overflow: hidden;
}

.projects .project > img {
  display: block;
  /*min-width: 33.4rem;*/ /*526px*/
  /*min-height: 31.1rem;*/ /*490px*/
  transition: all 0.5s ease-out;
}

.projects .project:hover > img {
  transform: scale(1.2);
}

.projects .projects-set--1,
.projects .projects-set--2 {
  transform: translateY(50px);
  transition: transform 0.5s ease-out;
}

.projects .projects-set--1.slide-up,
.projects .projects-set--2.slide-up.slide-up {
  transform: translateY(0);
}

.project .project-cover {
  display: flex;
  flex-direction: column;
  padding: 4.8rem;
  position: absolute;
  inset: 0;
  background: rgba(36, 36, 36, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project .project-cover:hover {
  opacity: 1;
}

.project .project-cover > * {
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.project .project-cover:hover > * {
  transform: translateY(0);
}

.project-cover .project-cover__details h3,
.project-cover .project-cover__details p {
  color: var(--text-color-light);
}

.project-cover .project-cover__btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.project
  .project-cover:hover
  .project-cover__btn
  .btn.btn--arrow.arrow-right
  svg,
.project
  .project-cover:active
  .project-cover__btn
  .btn.btn--arrow.arrow-right
  svg {
  animation: slideArrowAroundRight 0.5s ease-in-out 0.6s;
}

/* LANDING PAGE - CLIENTS SECTION */
.clients-section,
.clients-section .container {
  background-color: var(--background-light);
}

.clients-section .clients {
  align-items: center;
  padding-bottom: 8rem;
}

.clients-section .clients .client {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-section .clients .client svg {
  filter: grayscale(100%); /* Apply grayscale */
  transition: filter 0.3s ease; /* Smooth transition */
}

.clients-section .clients .client svg:hover {
  filter: grayscale(0%); /* Remove grayscale on hover */
}

/* LANDING PAGE - CONTACT SECTION */
.contact-section {
  background-color: #ffffff;
  padding-bottom: 8rem;
}

.contact-section h3 {
  margin-bottom: 1.8rem;
}

.contact-section .location-box {
  margin-bottom: 4.8rem;
}

.location-box .address-box,
.contact-box .contact-container {
  display: flex;
  gap: 8rem;
}

.location-box .address-box .address p {
  margin-top: 0;
}

.location-box .address-box .address,
.contact-box .contact-container .contact {
  width: 50%;
}

.contact-box .contact-container .contact-form.contact {
  background-color: #ffffff;
  margin: 1rem 0 0 0;
  padding: 6.5rem 7rem 7rem 7rem;
  border-top: 1rem solid var(--accent-color);
  box-shadow: 0 0 6rem 1rem rgba(0, 0, 0, 0.07);
}

input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  height: 7.6rem;
}

input[type='text'],
input[type='email'],
select,
textarea {
  background-color: #f6f6f6;
  color: var(--text-color-dark);
  margin-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  padding: 2.4rem 3.2rem;
  border: none;
  /* transition: all 0.3s ease; */
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

input[type='submit'] {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 600;
  padding: 2rem 6rem;
  background-color: var(--accent-color);
  color: var(--text-color-darker);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type='submit']:hover {
  background-color: var(--accent-color-dark);
  color: var(--text-color-light);
}

textarea {
  height: 20rem;
}

/******************************************************** FOOTER ********************************************************/
.footer {
  background-color: var(--background-light);
}

.footer .footer-body {
  padding-top: 8rem;
  padding-bottom: 4.8rem;
}

.footer .footer-body .container {
  display: flex;
  gap: 4.8rem;
  background-color: var(--background-light);
}

.footer .footer-bottom .container {
  background-color: var(--primary-color);
}

.footer-body .footer-body__item {
  flex: 1;
}

.footer-body .footer-body__item:has(ul.links) {
  flex: 0.3;
}

.footer-body .footer-body__item:has(ul.contact) {
  flex: 1.5;
}

.footer-body .footer-body__item p {
  line-height: 4rem;
  color: var(--text-color-dark);
}

.footer-body__item ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-body__item ul.links {
  margin-top: 3.2rem;
}

.footer-body__item ul li a {
  color: var(--text-color-dark);
}

.footer-body__item ul li a:hover {
  color: var(--primary-color);
}

.footer-body__item .contact {
  margin-top: 3.2rem;
}

.footer-body__item .contact li {
  display: flex;
  gap: 1.2rem;
  color: var(--text-color-dark);
}

.footer-body__item .subscription-box {
  display: flex;
  margin-top: 2.4rem;
}

.footer-body__item .subscription-box input[type='email'] {
  background-color: #ffffff;
  /* border: 1px solid var(--secondary-color); */
}

.footer-body__item .subscription-box button {
  width: 7.6rem;
  height: 7.6rem;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.footer-body__item .social-media {
  flex-direction: row;
  margin-top: 2.4rem;
}

.footer-body__item .social-media .social-icon {
  flex: 1;
}

.footer .footer-bottom {
  background-color: var(--primary-color);
}

.footer .footer-bottom .container {
  display: flex;
  justify-content: space-between;
  height: 9.2rem;
}

.footer .footer-bottom .container p {
  margin-top: 0;
  align-content: center;
  color: var(--background-light);
  font-weight: 500;
}

.footer .footer-bottom .container p a {
  color: var(--background-light);
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer .footer-bottom .container .copyright a {
  color: var(--accent-color);
}

.footer .footer-bottom .container .copyright a:hover {
  color: var(--background-light);
}

.footer .footer-bottom .container .terms-conditions a:hover {
  color: var(--accent-color);
}
